spring:
  datasource:
    url: jdbc:mysql://52.78.221.55:3306/ouchdb_ver0?serverTimezone=Asia/Seoul
    username: test
    password: ouch
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update #설정 잘 바꿔주기. 웬만하면 update로
        default_batch_fetch_size: 1000